
//colors ----------------------------
$base-color:rgba(12, 12, 12, 1);
$header-text-color:rgba(200, 200, 200, 1);
$accent-color-1:hsla(95, 47%, 59%, 1);
$accent-color-2:hsla(25, 100%, 69%, 1);
$accent-color-3:hsla(330, 80%, 68%, 1);
$accent-color-4:hsla(277, 46%, 62%, 1);
$accent-color-5:hsla(49, 72%, 62%, 1);
//fonts ------------------------------
$font-family-header:"Raleway", Arial, Helvetica, sans-serif;
$font-family-body:"Roboto", sans-serif;
//mixins -----------------------------
@mixin box-shadow-containers ($color){
    box-shadow: 0 0 0.3em $color;
}

#app {
	padding: 1.0em 1.0em;
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

.top_wrapper {
 	  display: grid;
  	grid-gap: 10px;
  	grid-template-columns: 1fr  1fr;
  	grid-template-areas:
    "header header"
	  "sidebar main"
}

.member{
    @include box-shadow-containers($accent-color-1);
}

.messages{
    @include box-shadow-containers($accent-color-1);

}

body{
    background: $base-color;
    padding: 2em;
    color:$header-text-color;
    font-family: $font-family-body;
    font-size:1.1rem;
    min-height: 100vh;
}

header {
    @include box-shadow-containers($accent-color-2);
}

.container {
    background: lighten($base-color, 5);
    margin: 4vh 0;        
    padding: 7vh 2vh;        
    text-align: center;
    border-radius: 2px;
}

button {
  margin-left:0.2em;
  font-size: 1.3rem;
  background:$base-color;
  color:$accent-color-1;  
  border:1px solid $accent-color-1;
  border-radius: 2px;
  padding: 0.2em 0.4em;
  cursor:pointer;
  transition:all 0.3s ease;
  &:active, &:hover, &:focus {
    color: $header-text-color;
      border-color: adjust-hue($accent-color-1, 45deg);    
    box-shadow:0 0 0.8em adjust-hue($accent-color-1, 45deg);    
  } 
}

li {
  list-style: none;
  text-align:left;
}
input{
  width:200px;
}

.inputContainer{
 float:left;
 margin-left: 2.2em;
}




//layout
.top_wrapper  {
  max-width:1200px;
  margin:0 auto;
}


@supports(display:grid){
  .top_wrapper {
    display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr  1fr;
      grid-template-areas:
      "header header"
      "sidebar main"
  }

  header {
    grid-area: header;
  }

  aside {
    grid-area: sidebar;
  }

  main {
    grid-area: main;
  }

  @media(max-width:768px){
    .top_wrapper {
      display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "sidebar"
        "main"
    }
    
  }
}
