@import "./scss/ad";


//colors ----------------------------
$base-color:rgba(240, 240, 240, 1);
$header-text-color:rgba(50, 50, 50, 1);
$accent-color-1:hsla(95, 47%, 59%, 1);
$accent-color-2:hsla(25, 100%, 69%, 1);
$accent-color-3:hsla(330, 80%, 68%, 1);
$accent-color-4:hsla(277, 46%, 62%, 1);
$accent-color-5:hsla(49, 72%, 62%, 1);
//fonts ------------------------------
$font-family-header:"Raleway", Arial, Helvetica, sans-serif;
$font-family-body:"Roboto", sans-serif;
//mixins -----------------------------
@mixin box-shadow-containers ($color){
    box-shadow: 0 0 0.3em $color;
}

#app {
	padding: 1em;
  height: 100vh;
  overflow: hidden;
}

.top_wrapper {
  height: 100%;
  max-width:1200px;
  margin:0 auto;
} 

header.main {
  grid-area: header;
  margin-top: 1em;
  padding: .5em
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

h2 {
  margin-top: 0;
}

.member{
    @include box-shadow-containers($accent-color-1);
}

.messages{
    @include box-shadow-containers($accent-color-1);
}

body{
    background: $base-color;
    color:$header-text-color;
    font-family: $font-family-body;
    font-size:1.1rem;
    height: 100vh;
    overflow: hidden;
}

ul {
  padding: 0;
}

header {
    @include box-shadow-containers($accent-color-2);
}

.container {
    background: lighten($base-color, 5);      
    padding: 2em;        
    text-align: center;
    border-radius: 2px;
    height: auto;
    overflow: hidden;
}

.messages {

  ul {
    height: auto;
    overflow-y: scroll;
  }
} 


.inputContainer {
  align-items: center;
  display: flex;

  input{
    border-radius: 2px;
    height: 30px;
    border: 1px solid $accent-color-1;
    padding: .2em;
    width: 100%;
  }
}

button {
  margin-left: 0.2em;
  font-size: 1.3rem;
  background: $base-color;
  color: $accent-color-1;  
  border: 1px solid $accent-color-1;
  border-radius: 2px;
  padding: 0.2em 0.4em;
  cursor: pointer;
  transition: all 0.3s ease;

  &:active, &:hover, &:focus {
    color: $header-text-color;
    border-color: adjust-hue($accent-color-1, 45deg);    
    box-shadow: 0 0 0.8em adjust-hue($accent-color-1, 45deg);    
  } 
}

li {
  list-style: none;
  text-align: left;
}

.messages li:nth-child(odd) {
  background: lighten($base-color, 10);
  border-radius: 1em;
  padding: 1em;
}

.messages li:nth-child(even) {
  background: lighten($base-color, 15);
  border-radius:1em;
  padding:1em;
}

.messages-container {
  height: calc(100% - 45px);
  overflow-y: scroll;
  marginb-bottom: 15px;
}

.container.member {
  overflow-y: scroll;
}

.top_wrapper {
  @media(min-width: 768px) {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 250px 1fr;
      grid-template-areas:
      "header header"
      "sidebar main";
      height: 100%;
  }
}
